<div class="flex" style="display: flex; justify-content: space-between; height: 50px; width: 100%;">
  <%= link_to "Wikinimous", articles_path %>
  <%= link_to "New article",new_article_path %>
</div>
